.triangle {
  width: 0;
  height: 0;
  border-left: 42px solid transparent;
  border-right: 42px solid transparent;
  border-bottom: 38px solid #2d2d2d;
  margin: auto;
}

.section-icon {
  width: auto;
  height: 80px;
}
